<p id="notice"><%= notice %></p>

<h1>Note1s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @note1s.each do |note1| %>
      <tr>
        <td><%= note1.name %></td>
        <td><%= note1.age %></td>
        <td><%= link_to 'Show', note1 %></td>
        <td><%= link_to 'Edit', edit_note1_path(note1) %></td>
        <td><%= link_to 'Destroy', note1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note1', new_note1_path %>
